<!--<main>-->
    <!--<h1>Resume asad</h1>-->
<!--<img src="../../public/images/angular.png">-->
<!--</main>-->

<header>
    Header
</header>
<section>
    <h1>Jaypee Mayo</h1>
    <h2>Software Developer</h2>
    <h4>5 Fern Street Sunshine West VIC 3020</h4>
    <h4>+61390160402 / +6583320212</h4>
    <h4>jaypeemayo@gmail.com </h4>
</section>
<section>

    <h2>
    Technical Skills Summary
    </h2>
    <table>
        <tr>
            <td>Programming:</td>
            <td>C#.NET, AngularJS 1 & 2, ASP.NET MVC, HTML 5, Typescript, JavaScript, jQuery, CSS, Twitter Bootstrap, Web API, Web Services, Entity Framework, WPF, PRISM 4.1</td>
        </tr>
        <tr>
            <td>Testing:</td>
            <td>Moq, Karma, Jasmine, Protractor</td>
        </tr>
        <tr>
            <td>Databases:</td>
            <td>MS SQL, SQLite, MS Access</td>
        </tr>
        <tr>
            <td>Architectural Patterns:</td>
            <td>OOP, Design Patterns, MVW, MVVM, MVC</td>
        </tr>
        <tr>
            <td>Design Platforms:</td>
            <td>MS Visual Studio, WebStorm, Enterprise Architect, Microsoft Visio</td>
        </tr>
    </table>











</section>
<section>
    <h2>Professional Experience</h2>
    <h5>June 2012 – January 2017</h5>
    <h5>Software Engineer</h5>
    <h4>Yokogawa Engineering Asia Pte. Ltd.</h4>
    <h5>Singapore</h5>
    <ul>
        <li>Develop web and windows applications used in instrumentation and control industry particularly for Yokogawa DCS products.</li>
        <li>Analyse requirements through designing the application using UML.</li>
        <li>Participate in functional design reviews and detailed design reviews.</li>
        <li>Involve in writing of the test cases and test execution.</li>
        <li>Participate in defects fixing and ensures the system conforms to the specifications.</li>

    </ul>
</section>
<footer>
    Footer
</footer>